.wp-block-wporg-learn-lesson-facilitator-notes {
	.components-base-control__field {
		margin-bottom: var(--wp--preset--spacing--10);
	}

	.block-editor-rich-text__editable {
		white-space: unset !important;
		overflow: scroll;
		border: 1px solid var(--wp--preset--color--charcoal-5);
		margin: var(--wp--preset--spacing--10) 0;
		padding: var(--wp--preset--spacing--10);

		&.is-expanded {
			max-height: none;
		}

		&.is-collapsed {
			max-height: 300px;
		}
	}

	h1.block-editor-rich-text__editable {
		padding: 0 var(--wp--preset--spacing--10);
	}

	button {
		min-width: 118px;
		justify-content: center;

		&.is-success {
			background-color: var(--wp--custom--color--green-50) !important;

			&:hover {
				opacity: 0.9;
			}
		}

		&.is-failure {
			background-color: var(--wp--preset--color--vivid-red) !important;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	.components-spinner {
		margin-top: 0;
	}
}

// general styles
.wporg-learn-lesson-facilitator-notes-label {
	cursor: pointer;
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--small);
	color: var(--wp--custom--link--color--text);
	text-decoration: underline;
	text-underline-offset: 0.13em;
	user-select: none;
	line-height: 1.1875;

	&:hover {
		text-decoration: none;
	}

	// mobile styles
	position: absolute;
	right: calc(60px + var(--wp--preset--spacing--20));
}

// desktop styles
.sensei-course-theme-header-content {
	.wporg-learn-lesson-facilitator-notes-label {
		margin-left: -30px !important;
		position: unset;

		@media (max-width: 782px) {
			display: none;
		}
	}
}
