// Set custom margin
@page {
	margin: 0.75cm;
}
// Hide stuff that's not relevant on print media
#wporg-header,
#wporg-footer,
#head-search,
#wporg-header-menu,
.workshop-page_video,
.wporg-learn-locale-notice,
.bbp-breadcrumb,
.dashicons,
.main-navigation {
	display: none;
}
// Prevent image from bleeding over the edge
img {
	max-width: 100% !important;
}
// Avoid page break right after heading
h1,
h2,
h3,
h4,
h5,
h6 {
	break-after: avoid;
}
// Avoid page break in mid of elements
h1,
h2,
h3,
h4,
h5,
h6,
ul,
pre,
img {
	break-inside: avoid;
}
// Handle super-long piece of text, like URLs that are too big to fit on a single line,
// by breaking them instead of bleeding over the edge
p a {
	word-wrap: break-word;
}
// Tweak header to be printable
.site-header {
	padding-top: 0;
	background: #fff;
	color: #000;
	font-size: 12px;

	a {
		background: #fff;
		color: #000;
		font-size: 12px;
	}

	.site-branding {
		padding: 0 0 0 10px;
	}
}
// Set title to block so that ::after content can be pushed to right
.site-title {
	display: block;
}
// Set the URL along with title
.site-title::after {
	content: "learn.wordpress.org";
	display: block;
	font-size: 12px;
	float: right;
	position: relative;
	top: 15px;
}

.site-title--no-mobile {
	display: inline !important;
}

/**
 * For Lesson archive page
 */

.post-type-archive-lesson-plan {
	.search-form,
	.sidebar-filters {
		display: none;
	}

	#main section,
	.section-heading--with-space {
		padding: 0;
	}

	.gutters > .col-9 {
		width: 100%;
	}

	.submit-idea-cta {
		display: none;
	}

	.card {
		border: dotted 2px #000;
	}

	.card-meta li {
		float: left;
		padding: 0 5px 5px 0;
		margin-right: 15px;
	}
}

/**
 * For Lesson single pages
 */

.single-lesson-plan {
	#main-content section {
		padding: 0;
	}

	// This doesn't work for first page, but works for other pages ¯\_(ツ)_/¯
	.card-grid .card {
		break-inside: avoid-page;
	}

	.lp-content .lp-details ul li,
	.lp-list .lp-details ul li {
		padding: 0 10px 10px 0;
	}
}

/**
 * For Workshops archive page
 */

.post-type-archive-wporg_workshop {
	.search-form,
	.submit-idea-cta,
	.filter-buttons,
	.filter-form {
		display: none;
	}

	#main section {
		padding: 0;
	}
}

/**
 * For Workshops single pages
 */

.single-wporg_workshop {
	.workshop-page_sidebar {
		display: none;
	}

	article.wporg_workshop section {
		padding: 0;
	}

	.wp-block-column,
	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*="flex-basis"] {
		flex-grow: 1;
	}

	.workshop-page_content {
		margin-bottom: 32px;
	}
}
