/**/.DS_STORE
/**/node_modules
/vendor

/wp-content/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/themes/pub/*

!/wp-content/plugins
!/wp-content/plugins/wporg-learn
!/wp-content/themes
!/wp-content/themes/pub
!/wp-content/themes/pub/wporg-learn-2020
