# Global.
/**/.DS_STORE
/**/node_modules
/vendor
*.map

.wp-env.override.json

# Ignore 3rd-party code.
/wp-content/*
/wp-content/mu-plugins/*
/wp-content/mu-plugins/pub/*
/wp-content/mu-plugins/pub/locale-switcher/build
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/themes/pub/*

# Track our custom code.
!/wp-content/mu-plugins
!/wp-content/mu-plugins/pub
!/wp-content/mu-plugins/pub/locales.php
!/wp-content/mu-plugins/pub/class-validator.php
!/wp-content/mu-plugins/pub/locale-switcher
!/wp-content/plugins
!/wp-content/plugins/wporg-learn
!/wp-content/plugins/sensei-pro
!/wp-content/themes
!/wp-content/themes/pub
!/wp-content/themes/pub/wporg-learn-2020

# Ignore subfolders in our custom code.
/wp-content/plugins/wporg-learn/build
