/**/.DS_STORE
/**/node_modules
/vendor

/wp-content/*
/wp-content/mu-plugins/*
/wp-content/mu-plugins/pub/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/themes/pub/*

!/wp-content/mu-plugins
!/wp-content/mu-plugins/pub
!/wp-content/mu-plugins/pub/locales.php
!/wp-content/mu-plugins/pub/class-validator.php
!/wp-content/plugins
!/wp-content/plugins/wporg-learn
!/wp-content/themes
!/wp-content/themes/pub
!/wp-content/themes/pub/wporg-learn-2020
