{
	"extends" : "@wordpress/stylelint-config/scss",
	"rules"   : {
		"max-line-length": 115,
		"no-descending-specificity": null,
		"rule-empty-line-before" : [ "always-multi-line", {
			"except" : [ "first-nested", "after-single-line-comment" ]
		} ],
		"selector-class-pattern": null,
		"value-keyword-case": [ "lower", { "camelCaseSvgKeywords": true } ]
	}
}
