/* stylelint-disable-next-line max-line-length */
.wp-block-jetpack-subscriptions.wp-block-jetpack-subscriptions__supports-newline:not(.wp-block-jetpack-subscriptions__use-newline) p#subscribe-submit {
	justify-content: start;
}

.wp-block-jetpack-contact-form-container .contact-form {
	.grunion-checkbox-multiple-options legend,
	.grunion-radio-options legend,
	label {
		font-weight: 400;
	}

	label span.required,
	.grunion-label-required {
		color: var(--wp--preset--color--charcoal-4);
		opacity: unset;
		font-size: inherit;
	}

	.contact-form__select-wrapper::after {
		inset-inline-end: calc(var(--jetpack--contact-form--input-padding-left) + 3px);
		top: calc(var(--jetpack--contact-form--input-padding-top) + var(--jetpack--contact-form--line-height) / 2);
	}
}
