.wp-block-wordpress-playground-playground .wordpress-playground-content-container {
	box-shadow: unset;
	border: 1px solid var(--wp--custom--color--border);
	border-radius: var(--wp--custom--box--border--radius);
}
