%wporg-learn-tag {
	display: inline-block;
	padding: 4px var(--wp--preset--spacing--10);
	border-radius: 2px;
	text-decoration: none;
	color: var(--wp--preset--color--charcoal-1);
}

.wp-block-post-terms.is-style-tag a {

	@extend %wporg-learn-tag;

	background-color: var(--wp--preset--color--blueberry-4);

	&:hover {
		text-decoration: underline;
	}
}

.wp-block-wporg-learn-course-status {

	@extend %wporg-learn-tag;

	background-color: var(--wp--preset--color--light-grey-2);

	&.is-completed {
		background-color: var(--wp--preset--color--acid-green-3);
		color: var(--wp--custom--color--green-70);
	}
}
