/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "card-grid";
@import "jetpack";
@import "playground";
@import "print";
@import "sensei";
@import "sidebar";
@import "search";
@import "taxonomy";
@import "wp-components";
@import "wporg-meeting-calendar";
@import "rtl";

body {
	--wp-components-color-accent: var(--wp--preset--color--blueberry-1);
	--wp-components-color-accent-darker-10: var(--wp--preset--color--deep-blueberry);
}

// Parent theme sets top margin on these headings, but this breaks
// vertical alignment with the sidebar on the courses page
.wp-block-post-content {
	> h2,
	> h3 {
		&:first-child {
			margin-top: unset;
		}
	}
}

// Ensure nested elements in containers with rounded corners are cropped to match
// eg. card featured images
[style*="border-radius:2px"] {
	overflow: hidden;
}

.wporg-learn-footer-signup {

	@media screen and (max-width: 781px) {
		border-left: none;
		padding-left: unset !important;
		padding-top: unset !important;
	}
}
