/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "card-grid";
@import "jetpack";
@import "local-nav";
@import "sensei";
@import "sidebar";
@import "search";
@import "tag";
@import "taxonomy";
@import "wp-components";
@import "wporg-meeting-calendar";

body {
	--wp-components-color-accent: var(--wp--preset--color--blueberry-1);
	--wp-components-color-accent-darker-10: var(--wp--preset--color--deep-blueberry);
}

// Ensure nested elements in containers with rounded corners are cropped to match
// eg. card featured images
[style*="border-radius:2px"] {
	overflow: hidden;
}

.wporg-learn-footer-signup {

	@media screen and (max-width: 781px) {
		border-left: none;
		padding-left: unset !important;
		padding-top: unset !important;
	}
}
