/**
 * Theme Name: WordPress.org Learn
 * Theme URI: http://wordpress.org/
 * Author: WordPress.org
 * Author URI: http://wordpress.org/
 * Description: A theme for the Support section of wordpress.org sites
 * Version: 1.0
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: WordPress, bbPress, Support, Forums
 * Text Domain: wporg-learn
 * Template: wporg
 */
/**
 * This theme, like WordPress, is licensed under the GPL.
 * Use it to make something cool, have fun,
 * and share what you've learned with others.
 */
/* Sass is good */