/*
* Fixes for checkbox styling in jetpack forms so it align with sensei.
*
*/

.contact-form .grunion-field-wrap.wporg-learn-form-wrap input.checkbox-multiple {
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid rgb(50, 55, 60);
	box-sizing: border-box;
	height: 26px;
	width: 26px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:checked::before {
		content: "";
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.3 5.6L9.9 16.9l-4.6-3.4-.9 1.2 5.8 4.3 9.3-12.6z"></path></svg>');
		background-size: 20px;
		background-position: 4px 3px;
		background-repeat: no-repeat;
		font-size: 16px;
		color: #0073aa;
		text-align: center;
		line-height: 26px;
		transform: none;
		top: auto;
		left: auto;
		width: 100%;
		height: 100%;
		padding-top: 1px;
		padding-left: 1px;
	}
}

.contact-form .wporg-learn-form-wrap .grunion-checkbox-multiple-options .contact-form-field {
	display: flex;
	align-items: center;

	.grunion-field-text {
		font-family: "open sans", sans-serif;
		font-size: 16px;
	}

}
