
.video-grid {
	margin: 0;
	list-style: none;

	&_item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&_link {
			font-weight: bold;
		}

		&--no-image {
			height: 100%;
			background: #eee;
		}
	}
}