<!-- wp:template-part {"slug":"header","className":"has-display-contents","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"className":"entry-content","style":{"spacing":{"blockGap":"0px"},"padding":{"bottom":"var:preset|spacing|60"}}} -->
<main class="wp-block-group entry-content" style="padding-bottom:var(--wp--preset--spacing--60)">

	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|edge-space","left":"var:preset|spacing|edge-space","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"border":{"bottom":{"color":"var:preset|color|light-grey-1"}}},"backgroundColor":"pomegrade-3","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull has-pomegrade-3-background-color has-background" style="border-bottom-color:var(--wp--preset--color--light-grey-1);padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--edge-space);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--edge-space)">

		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">

			<!-- wp:query-title {"type":"archive","showPrefix":false,"style":{"typography":{"fontSize":"50px"}}} /-->

			<!-- wp:term-description /-->

		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"wporg-learn-2024/taxonomy-learning-pathway-content"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
