.wp-block-wporg-learn-sidebar-meta-list {
	margin-block-start: 40px;
	margin-block-end: 40px;

	a {
		text-decoration: none;
	}

	table {
		margin: 0;
		padding: 0;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

	tr {
		vertical-align: baseline;

		&:not(:last-of-type) {
			border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
		}

		th,
		td {
			padding-top: var(--wp--preset--spacing--10);
			padding-bottom: var(--wp--preset--spacing--10);
		}

		th {
			font-weight: 400;
			text-align: start;
			width: 55%;
		}

		td {
			text-align: end;
		}

		@media (max-width: 380px) {
			display: block;

			th,
			td {
				display: block;
			}

			th {
				font-weight: 600;
				padding-bottom: 0;
			}

			td {
				text-align: start;
				padding-top: 0;
			}
		}
	}
}
