.has-wporg-blue-color {
	color: $color__wporg-blue;
}

.has-wporg-blue-background-color {
	background-color: $color__wporg-blue;
}

.has-wporg-purple-color {
	color: $color__wporg-purple;
}

.has-wporg-purple-background-color {
	background-color: $color__wporg-purple;
}

.has-wporg-white-color {
	color: $color__text-on-dark;
}

.has-wporg-white-background-color {
	background-color: $color__text-on-dark;
}
