.home-page .shapes {
	position: relative;
	margin: 0 auto;
}

.home-page .shapes .parallelogram p::before {
	font-size: 64px;
	height: 64px;
	left: -16px;
	position: relative;
}

.home-page .shapes .parallelogram {
	color: #fff;
	display: block;
	margin: 0 auto;
	opacity: 0.9;
	padding: 60px 40px;

	text-align: center;
	text-decoration: none;
}

.home-page .shapes .parallelogram.lesson-plans {
	background-color: $color-accent-blue-shade4;
	right: 16px;
	top: 50px;
	z-index: 10;
}

.home-page .shapes .parallelogram.workshops {
	background-color: $color-accent-green-shade1;
	top: 0;
	left: 16px;
	z-index: 1;
}

.home-page .shapes strong {
	display: block;
	font-size: 28px;
	font-weight: 300;
	padding-bottom: 15px;
	padding-top: 15px;
}

.home-page .shapes p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
}

.home-page .shapes u {
	display: block;
	font-size: 18px;
	padding-top: 15px;
}

@media only screen and ( min-width: $breakpoint-tablet ) {
	.home-page .shapes {
		height: 400px;
	}

	.home-page .shapes .parallelogram {
		width: 50%;
		position: absolute;
		padding: 50px 90px;
	}

	.home-page .shapes .parallelogram.workshops {
		margin-top: 0;
	}
}


@media only screen and ( min-width: $breakpoint-desktop ) {
	.home-page .shapes .parallelogram {
		-webkit-transform: skew(-15deg);
		-ms-transform: skew(-15deg);
		transform: skew(-15deg);
	}

	.home-page .shapes .parallelogram::before,
	.home-page .shapes p {
		-webkit-transform: skew(15deg);
		-ms-transform: skew(15deg);
		transform: skew(15deg);
	}

	.home-page .shapes .parallelogram.workshops {
		margin-top: 0;
		left: 32px;
	}

	.home-page .shapes .parallelogram.lesson-plans {
		right: 32px;
	}
}

@media only screen and ( min-width: $breakpoint-desktop-large ) {
	.home-page .shapes {
		margin: 0 -60px;
	}
}
