/**
 * Theme Name: WordPress.org Learn 2024
 * Theme URI: http://learn.wordpress.org/
 * Author: WordPress.org
 * Author URI: http://wordpress.org/
 * Description: A theme for learn.wordpress.org, built in 2024.
 * Version: 1.0.0
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: wporg-learn
 * Template: wporg-parent-2021
 */

/**
 * This theme, like WordPress, is licensed under the GPL.
 * Use it to make something cool, have fun,
 * and share what you've learned with others.
 */

/* This file is not used. Add CSS to `src/style/*`. */
