.block-dev-course-activity {
	padding: 20px;
	margin: 16px 0;
}

.block-dev-course-activity h4 {
	padding-bottom: 8px;
}

.block-dev-course-activity p {
	padding: 8px 0;
}

.block-dev-course-activity ol,
.block-dev-course-activity ul {
	list-style-position: inside;
}
