.featured-workshop {
	margin: $gutter-default * 2 0 $gutter-default * 4;
	text-align: center;

	@media only screen and (min-width: $breakpoint-tablet) {
		margin-bottom: 0;
		text-align: left;
	}

	&_video {
		width: 100%;
		background: #eee;
		overflow: hidden;
		display: block;
		position: relative;

		> img {
			width: 100%;
			display: block;
		}

		> .overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background: radial-gradient(ellipse at center, rgba(32,32,32,0.3) 0,  rgba(0,0,0,0.7) 80%);
			transition: .3s ease;
			opacity: 1;

			> span::before {
				color: #fff;
				font-size: 100px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				text-align: center;
			}
		}

		&:hover .overlay,
		&:focus .overlay {
			opacity: 0.8;
		}
	}

	&_title {
		display: block;
		margin-bottom: $gutter-default / 2;
		font-weight: bold;
		text-decoration: underline;
		font-size: $gutter-default * 1.25;
	}

	&_content {
		margin-top: $gutter-default;

		&_author {
			padding-top: $gutter-default;

			@include breakpoint( $breakpoint-tablet ) {
				padding-top: 0;
				padding-left: $gutter-default * 2;
		
			}
		}
	}
}

