.featured-workshop {
	margin: $gutter-default * 2 0 $gutter-default * 4;
	text-align: center;

	@media only screen and (min-width: $breakpoint-tablet) {
		margin-bottom: 0;
		text-align: left;
	}

	&_video {
		width: 100%;
		background: #eee;
		overflow: hidden;

		a {
			display: block;
			line-height: 0;
			margin: 0;
		}

		img {
			width: 100%;
			display: block;
		}
	}

	&_title {
		display: block;
		margin-bottom: $gutter-default / 2;
		font-weight: 600;
		text-decoration: underline;
		font-size: $gutter-default * 1.25;

		a:hover {
			color: #d54e21;
		}
	}

	&_content {
		margin-top: $gutter-default;

		&_author {
			padding-top: $gutter-default;

			@include breakpoint( $breakpoint-tablet ) {
				padding-top: 0;
				padding-left: $gutter-default * 2;

			}
		}
	}
}

