.wp-filter {
	background: #fff;
	color: #555;
	font-size: 13px;
}

.wp-filter a {
	text-decoration: none;
}

.filter-count {
	display: inline-block;
	vertical-align: middle;
	min-width: 4.3em;
}

.filter-count .count,
.title-count {
	display: inline-block;
	position: relative;
	top: -1px;
	padding: 4px 10px;
	border-radius: 30px;
	background: #777;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.title-count {
	display: inline;
	top: -3px;
	margin-left: 5px;
	margin-right: 20px;
}

.filter-links {
	padding: 0;
}

.filter-links,
.filter-links li {
	display: inline-block;
	margin: 0;
}

.filter-links li > a {
	display: inline-block;
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 4px solid #fff;
	color: #666;
	cursor: pointer;
}

.filter-links .current {
	box-shadow: none;
	border-bottom: 4px solid #666;
	color: #222;
}

.filter-links li > a:focus,
.filter-links li > a:hover,
.show-filters .filter-links a.current:focus,
.show-filters .filter-links a.current:hover {
	color: #2ea2cc;
}

.wp-filter .search-form select {
	height: 33px;
	vertical-align: top;
}

.wp-filter .drawer-toggle {
	display: flex;
	align-items: center;
}

.wp-filter .drawer-toggle::before {
	display: inline-block;
	content: "\f111";
	margin: 0 5px 0 0;
	color: #777;
	transition: color 0.1s ease-in;
	font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.wp-filter .drawer-toggle:hover,
.wp-filter .drawer-toggle:hover::before {
	color: #2ea2cc;
}

.wp-filter .drawer-toggle.current::before {
	color: #fff;
}

.filter-drawer {
	display: none;
	padding: $gutter-default;
	border: 1px solid #eee;
}

@media only screen and ( max-width: 480px ) {
	.filter-drawer {
		margin: 0 -10px;
	}
}

.show-filters .filter-drawer {
	display: block;
	overflow: hidden;
}

.show-filters .wp-filter .drawer-toggle:focus,
.show-filters .wp-filter .drawer-toggle:hover {
	background: #2ea2cc;
}

.show-filters .filter-links a.current {
	border-bottom: none;
}

.show-filters .wp-filter .drawer-toggle {
	border-radius: 2px;
	border: none;
	background: #777;
	color: #fff;
}

.show-filters .wp-filter .drawer-toggle::before {
	color: #fff;
}

.filter-form {
	padding: 16px 0 2rem;
}

.filter-group {
	background: #fff;
	box-sizing: border-box;
	padding-bottom: $gutter-default;
	flex: 1;

	@media only screen and ( min-width: $breakpoint-tablet ) {
		padding-bottom: 0;
		padding-right: $gutter-default;
	}
}

.filter-group-label {
	display: block;
	font-size: 13px;
	font-weight: 700;
	position: relative;
	margin: 0;

	* {
		font-weight: 400;
	}

	.filter-group-select,
	.select2-container--default {
		margin-top: $gutter-default / 2;

		.select2-selection--single,
		.select2-selection--multiple {
			border-radius: 0;
		}
	}
}

.filter-buttons {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: $gutter-default;

	@media only screen and ( min-width: $breakpoint-tablet ) {
		margin-top: 0;
	}

	.clear-filters {
		position: absolute;
		bottom: -$gutter-default * 1.75;
		right: 0;
		font-size: 13px;
		padding-top: 0.5rem;
		color: #d94f4f;
	}
}

.filter-drawer ol {
	list-style-type: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.filter-drawer li {
	display: inline-block;
	list-style-type: none;
	margin: 5px 0;
	padding-right: 25px;
	width: 100%;
}

@media only screen and ( min-width: $breakpoint-tablet ) {
	.filter-drawer .buttons {
		padding-bottom: $gutter-default;
	}
}

.filter-drawer .buttons .button span {
	display: inline-block;
	opacity: 0.8;
	font-size: 12px;
	text-indent: 10px;
}

.wp-filter .button.clear-filters {
	margin-left: $gutter-default / 2;
}

.filtered-by {
	display: none;
	margin: 0;
}

.filtered-by > span {
	font-weight: 600;
}

.filtered-by a {
	margin-left: 10px;
}

.filtered-by .tags {
	display: inline;
}

.filtered-by .tag {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba ( 0, 0, 0, 0.04 );
	display: inline-block;
	font-size: 11px;
	margin: 2px 5px;
	padding: 1px 8px;
}

.filters-applied .filter-drawer .buttons,
.filters-applied .filter-drawer br,
.filters-applied .filter-group {
	display: none !important;
}

.filters-applied .filtered-by {
	display: block;
}

.error .content-filterable,
.loading-content .content-filterable,
.show-filters .content-filterable,
.show-filters.filters-applied.loading-content .content-filterable {
	display: none;
}

.show-filters.filters-applied .content-filterable {
	display: block;
}

.wp-filter-search {
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba ( 0, 0, 0, 0.07 );
	background-color: #fff;
	color: #333;
	outline: none;
	transition: border-color 0.05s ease-in-out;
	border-radius: 0;
	margin: 0;
	padding: 3px 5px;
	width: 280px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

/* We are currently using select-2 for the dropdown */
.select2-container li {
	font-size: 14px;
}
