.wporg-learn-locale-switcher-container {
	text-align: center;
	padding-bottom: 1em;
}

@supports ( display: grid ) {
	.wporg-learn-locale-switcher-container {
		grid-column: 1 / span 2;
		grid-row: 1;
		display: grid;
		text-align: left;
		padding-bottom: 0;
	}

	#wporg-learn-locale-switcher-form {
		padding: 13px 0 0;
		display: flex;
		margin: 0 auto;
	}

	@media screen and ( min-width: 48em ) {
		.wporg-learn-locale-switcher-container {
			grid-column: 2;
			grid-row: 1;
		}

		#wporg-learn-locale-switcher-form {
			padding: 20px 30px 0 0;
		}
	}
}

#wporg-learn-locale-switcher-form label {
	display: inline;
}

#wporg-learn-locale-switcher-form select {
	visibility: hidden; /* Prevent iOS native picker UI */
}

.wporg-learn-locale-switcher-container .dashicons-translation {
	margin: 5px 5px;
}

@media screen and ( min-width: 48em ) {
	.wporg-learn-locale-switcher-container .dashicons-translation {
		margin: 5px 10px;
	}
}

.wporg-learn-locale-notice {
	background: #fafafa;
	margin-bottom: 5px;
	padding: 1px 38px 1px 12px;
	position: relative;
	text-align: center;
}

.wporg-learn-locale-notice p {
	margin: 0.5em 0;
	padding: 2px;
}

.wporg-learn-locale-notice-dismiss:before {
	background: none;
	color: #333;
	content: "\f153";
	display: block;
	font: normal 16px/20px dashicons;
	speak: none;
	margin: 0.5em 0;
	height: 20px;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wporg-learn-locale-notice-dismiss {
	position: absolute;
	top: 0;
	right: 1px;
	border: none;
	margin: 0;
	padding: 7px;
	background: none;
	color: #333;
	cursor: pointer;
}

.rtl .wporg-learn-locale-notice-dismiss {
	left: 1px;
	right: inherit;
}

.wporg-learn-locale-notice-dismiss:hover,
.wporg-learn-locale-notice-dismiss:active,
.wporg-learn-locale-notice-dismiss:focus {
	background: inherit;
}

.wporg-learn-locale-notice-dismiss:hover:before,
.wporg-learn-locale-notice-dismiss:active:before,
.wporg-learn-locale-notice-dismiss:focus:before {
	color: #0073AA;
}

.wporg-learn-locale-notice-dismiss:focus {
	outline: none;
}
