$card-padding: 16px;

.post-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f9f9f9;
	margin-bottom: $gutter-default * 2;
	vertical-align: top;
	position: relative;

	@media only screen and (min-width: $breakpoint-tablet) {
		margin-bottom: $gutter-default / 2;
	}

	@media screen and ( min-width: $ms-breakpoint ) {
		&:nth-of-type(even) {
			margin-right: 0;
		}
	}

	.entry {
		padding: $card-padding;
	}

	.entry-title {
		font-size: ms(0);
		line-height: 1.3;
		margin: 0 0 8px;

		a {
			font-weight: 400;
			word-wrap: break-word;
		}
	}

	.entry-excerpt {
		font-size: ms(-2);

		p {
			margin: 0;
		}
	}

	&_tag {

		padding: $gutter-default / 4;
		padding-right: $gutter-default / 2.66;
		padding-left: $gutter-default * 1.75;
		right: 0;
		background: #eee;
		font-size: 12px;
		color: #fff;

		@media only screen and (min-width: $breakpoint-tablet) {
			position: absolute;
		}

		&::before {
			position: absolute;
			left: 6px;
			font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
		}

		// This are post type names
		&--wporg_workshop {
			background: $color-accent-green-shade1;
		}

		&--wporg_workshop::before {
			content: "\f181";
			top: 0;
			font-size: 18px;
		}

		&--lesson-plan {
			background: $color-accent-blue-shade4;
		}

		&--lesson-plan::before {
			top: 2px;
			left: 7px; // This icon is not proportionally spaced and needs some extra padding
			content: "\f481";
			font-size: 14px;
		}
	}

	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 12px $card-padding;
		border-top: 1px solid #fff;
		font-size: ms(-3);

		@media (min-width: 600px) {
			flex-direction: row;
		}

		.footer_item {
			padding: 4px 24px 4px 0;
			display: flex;
			align-items: center;
		}

		.dashicons {
			margin-right: 4px;
			color: #bbb;
		}
	}
}
