.section-heading {
	&_title, &_link  {
		margin-bottom: 0;
	}

	&_title {
		font-weight: 300;
	}

	&_link {
		text-decoration: underline;
		font-weight: bold;
	}

	&--with-space {
		padding-bottom: 16px;
	}
}