.section-heading {
	&_title,
	&_link {
		margin-bottom: 0;
	}

	&_title {
		font-weight: 300;

		.archive-title-prefix {
			display: block;
			font-size: 1rem;
		}

		&.bigger {
			font-size: 2.75rem;
			line-height: 1.36;
		}
	}

	&_link {
		text-decoration: underline;
		font-weight: 600;
		margin-top: $gutter-default !important; // Override button styles

		@media only screen and (min-width: $breakpoint-tablet) {
			margin-top: 0 !important; // Override button styles
		}
	}

	&_description {
		margin: 1rem 0 0;

		*:last-child {
			margin-bottom: 0;
		}
	}

	&--with-space {
		padding-bottom: 16px;
	}
}
