.sidebar-filters {
	margin: 1.5rem 0;
	padding: 0 1.5rem;

	h3 {
		font-weight: 300;
	}

	h4 {
		text-transform: none;
	}

	ul {
		list-style: none;
		margin: 0 0 2rem;
	}

	.filter-buttons {
		justify-content: initial;
		align-items: initial;

		.clear-filters {
			position: static;
		}
	}

	@media only screen and (min-width: $breakpoint-tablet) {
		&.gap-64 {
			margin-top: 4rem;
		}
	}
}
