
.video-grid {
	margin: 0 -8px 30px;
	list-style: none;

	&_item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: $gutter-default * 2 8px $gutter-default * 2;
		margin: 0;

		@media only screen and (min-width: $breakpoint-tablet) {
			align-items: start;
			padding-bottom: 0;
		}

		&_link {
			display: block;
			margin-top: 8px;
			font-weight: 600;
			text-align: center;
			width: 100%;

			@media only screen and (min-width: $breakpoint-small) {
				padding: 0 $gutter-default * 2 $gutter-default;
			}

			@media only screen and (min-width: $breakpoint-tablet) {
				padding: 0;
				text-align: left;
			}

			> img {
				width: 100%;
			}
		}

		h3 {
			margin: 0;
			font-size: 1rem;
			font-weight: 600;
			color: currentColor !important;
		}

		&--no-image {
			height: 100%;
			background: #eee;
		}
	}
}
