.wporg-learn-workshop-application-form {
	position: relative;

	@media only screen and (min-width: $breakpoint-tablet) {
		max-width: $breakpoint-tablet;
	}

	input[type="checkbox"],
	input[type="color"],
	input[type="date"],
	input[type="datetime-local"],
	input[type="datetime"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="radio"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	textarea {
		box-shadow: none;
	}

	label,
	legend,
	input,
	select,
	.select2-container,
	textarea {
		display: block;
		font-size: 1rem;

		@media only screen and (min-width: 48em) {
			font-size: 0.875rem;
		}
	}

	input[type="checkbox"] {
		display: inline-block;
	}

	fieldset,
	label {
		margin: 1rem 0;

		&.label-checkbox {
			margin: 0 0 0.5rem;
		}

		&.error {
			border: 1px solid #f00;
			padding: 1rem;
		}

		.notice {
			display: block;
			margin: 0 0 1rem;
		}
	}

	fieldset {
		border: 0;
		padding: 0;

		&.section {
			> legend {
				font-size: ms(6);
				font-weight: 300;
				margin: 2rem 0 1rem;
			}
		}

		&.checkbox-group {
			> legend {
				margin: 0 0 0.5rem;
			}
		}
	}

	.label-text {
		font-weight: 700;
	}

	.required-field {
		font-style: italic;
		font-weight: 400;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		line-height: normal;
		margin: 0.5rem 0 0;
		padding: 4px 5px;
		vertical-align: text-bottom;
		width: 100%;
	}

	.checkbox-and-text {
		input[type="text"] {
			display: inline-block;
			margin: 0;
			vertical-align: text-top;
			width: calc(100% - 35px);

			@media only screen and (min-width: 48em) {
				width: calc(100% - 25px);
			}
		}
	}

	.select2-container {
		margin: 0.5rem 0 0;

		.select2-selection--single {
			border: 1px solid #ddd;
			border-radius: 0;
			height: auto;
			font-size: 1rem;

			@media only screen and (min-width: 48em) {
				font-size: 0.875rem;
			}
		}

		.select2-dropdown {
			border: 1px solid #ddd;
			border-radius: 0;

			&.select2-dropdown--above {
				top: -7px;
			}

			&.select2-dropdown--below {
				top: -9px;
			}
		}

		.select2-search__field {
			border-color: #ddd;
			margin: 0;
			padding: 4px;
			width: 100%;
		}

		.select2-results {
			border-top: 1px solid #ddd;
		}
	}
}
