.workshop-page {
	color: $color__text;

	&_content {
		margin: $gutter-default 0 $gutter-default * 4;

		ol,
		ul {
			margin: 0 0 0 18px;
			padding: 0;
		}

		li + li {
			margin-top: $gutter-default / 2;
		}
	}

	&_section {
		padding: 4rem 0 0;

		.row + .row {
			padding: 4rem 0 0;
		}
	}

	&_biography {
		margin-top: $gutter-default * 2;

		@include breakpoint( $breakpoint-tablet ) {
			margin-top: 0;
		}
	}

	&_video {
		&,
		figure { // Back compat.
			margin: $gutter-default * 2 0;
		}

		iframe {
			width: 100%;

			@include breakpoint( $breakpoint-tablet ) {
				height: 528px;
			}
		}
		// End
	}

	&_sidebar {
		padding-top: 32px;

		@include breakpoint( $breakpoint-tablet ) {
			padding-top: 0;
			padding-left: $gutter-default;
		}
	}

	&_list {
		margin-top: $gutter-default * 3;
	}

	h2 {
		font-size: 24px;
	}
}
