.wporg-learn-workshop-application-form {
	input[type="checkbox"],
	input[type="color"],
	input[type="date"],
	input[type="datetime-local"],
	input[type="datetime"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="radio"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	textarea {
		box-shadow: none;
	}

	label,
	input,
	select,
	.select2-container,
	textarea {
		display: block;
	}

	input[type="checkbox"] {
		display: inline-block;
	}

	fieldset,
	label {
		margin: 1rem 0;

		&.label-checkbox {
			margin: 0;
		}

		&.error {
			border: 1px solid #f00;
			padding: 1rem;
		}

		.notice {
			display: block;
			margin: 0 0 1rem;
		}
	}

	fieldset {
		border: 0;
		padding: 0;

		&.section {
			> legend {
				font-size: ms(6);
				font-weight: 300;
				margin: 2rem 0 1rem;
			}
		}
	}

	.label-text {
		font-weight: 700;
	}

	.required-field {
		font-style: italic;
		font-weight: 400;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		line-height: normal;
		margin: 0.5rem 0 0;
		padding: 4px 5px;
		vertical-align: text-bottom;
		width: 100%;

		@media only screen and (min-width: $breakpoint-tablet) {
			width: 70%;
		}
	}

	.checkbox-and-text {
		input[type="text"] {
			display: inline-block;
			margin: 0;
			vertical-align: text-top;
			max-width: 37rem;
		}
	}

	.select2-container {
		.select2-selection--single {
			border: 1px solid #ddd;
			border-radius: 0;
			height: auto;
			font-size: 14px;
		}
	}
}
