// Base colors.
$color__wp-blue: #0073aa;
$color__green: #c7e8ca;
$color__wporg-blue: #1e8cbe;
$color__wporg-purple: #826eb4;

// Base grays.
$color-ultra-dark-gray: #191e23;
$color-dark-gray: #23282d;
$color-base-gray: #32373c;

$color-gray-900: $color-ultra-dark-gray;
$color-gray-800: $color-dark-gray;
$color-gray-700: $color-base-gray;
$color-gray-600: lighten($color-base-gray, 6%);
$color-gray-500: lighten($color-base-gray, 15%);
$color-gray-400: lighten($color-base-gray, 20%);
$color-gray-300: lighten($color-base-gray, 25%);
$color-gray-200: lighten($color-base-gray, 32%);
$color-gray-100: lighten($color-base-gray, 38%);

$color-gray-light-900: lighten($color-base-gray, 45%);
$color-gray-light-800: lighten($color-base-gray, 52%);
$color-gray-light-700: lighten($color-base-gray, 60%);
$color-gray-light-600: lighten($color-base-gray, 64%);
$color-gray-light-500: lighten($color-base-gray, 68%);
$color-gray-light-400: lighten($color-base-gray, 70%);
$color-gray-light-300: lighten($color-base-gray, 72%);
$color-gray-light-200: lighten($color-base-gray, 74%);
$color-gray-light-100: lighten($color-base-gray, 77%);

$color-error-red: #c92c2c;
$color-alert-red: #d94f4f;

$color-accent-blue-shade4: #006899;
$color-accent-green-shade1: #399648;

// Theme colors
$color__background-input: $color-gray-light-200;
$color__text: #555d66;
$color__text-darker: $color-gray-700;
$color__text-lighter: $color-gray-300;
$color__text-on-dark: #fff;
$color__text-heading: $color-gray-400;
$color__text-heading-darker: $color-gray-800;
$color__link-button: $color-gray-500;
