$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 960px !default;
$breakpoint-desktop-large: 1200px !default;

// From @wordpress/viewport
$breakpoint-huge: 1440px !default;
$breakpoint-wide: 1280px !default;
$breakpoint-large: 960px !default;
$breakpoint-medium: 782px !default;
$breakpoint-small: 600px !default;
$breakpoint-mobile: 480px !default;

$size__site-main: 960px;
$size__content-width: 640px;

$gutter-default: 16px;

$admin-bar-height: 32px;
