name: Build and push to build branch.

on:
  push:
    branches: [build-test]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          ref: trunk

      - name: Setup
        uses: WordPress/wporg-repo-tools/.github/actions/setup@trunk
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Add all the files
        run: |
          git add -A

      - name: Commit and push
        uses: actions-js/push@a52398fac807b0c1e5f1492c969b477c8560a0ba # 1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: build
          force: true
          message: 'Build: ${{ github.sha }}'
